<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arnold Lei's Portfollio Website</title>
    <!--Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900|Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-override.css">
    <link rel="stylesheet" type="text/css" href="assets/css/nav.css">
    <link rel="stylesheet" type="text/css" href="assets/css/gallery.css">
    <link rel="stylesheet" type="text/css" href="assets/css/contact.css">
    <link rel="stylesheet" type="text/css" href="assets/css/footer.css">


    <!-- Font Awesome! -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/semantic.js"></script>
    <style>
        /* Note: Try to remove the following lines to see the effect of CSS positioning */
    </style>

</head>

<body>
    {{>nav/navbar}} {{>jumbo/jumbotron}} {{>about/aboutme}}
    <a name="gallery" class="anchor"></a>
    <div class="section">
        <div class="section-header">
            <h1>Gallery </h1>
        </div>
    </div>
    <div class="portfolio">
        <div class="row gallery">
            <div class="col-md-4 hover">
                <figure>
                    <img src="assets/img/arnold-fluff-square.jpg">
                    <div class="spacer">
                    </div>
                    <div class="img-cap">
                        <h4>Fluff and I Straigt Chillin'</h4>
                    </div>
                </figure>
            </div>
            <div class="col-md-4 hover">
                <figure>
                    <img src="assets/img/jenny-petting-tokyo.jpg">
                    <div class="img-cap">
                        <h4>Jenny and Tokyo</h4>
                    </div>
                </figure>
            </div>
            <div class="col-md-4 hover">
                <figure>
                    <img src="assets/img/swiss-alps.jpg">
                    <div class="img-cap">
                        <h4>Me hiking in the Swiss Alps</h4>
                    </div>
                </figure>
            </div>
        </div>

        <div class="row gallery">
            <div class="col-md-4 hover">
                <figure>
                    <img src="assets/img/white-water-rafting.jpg">
                    <div class="img-cap">
                        <h4>Jenny and I white water rafting in Costa Rica</h4>
                    </div>
                </figure>
            </div>
            <div class="col-md-4 hover">
                <figure>
                    <img src="assets/img/arnold-in-beijing.jpg">
                    <div class="img-cap">
                        <h4>Jenny and Tokyo</h4>
                    </div>
                </figure>
            </div>
            <div class="col-md-4 hover">
                <figure>
                    <img src="assets/img/arnold-dancing.jpg">
                    <div class="img-cap">
                        <h4>Arnold dancing in DC</h4>
                    </div>
                </figure>
            </div>
        </div>
    </div>
    <!-- End of Gallery Section-->

    </div>
    <!-- End of container -->
    <div class="contact-me-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>Get in touch</h1>
                    <h2>Please reach out, I would love to hear from you.</h2>
                </div>
                <div class="col-md-4 info">
                    <h3>Arnold Lei</h3>
                    <ul>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i> 430 Magnolia St. Highland Park, NJ</li>
                        <li><i class="fa fa-mobile" aria-hidden="true"></i> (609) 647-2091</li>
                        <li><i class="fa fa-envelope-o " aria-hidden="true"></i> arnold.lei88@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <a class="anchor" name="contact-me"></a>
    <div class="section">
        <div class="section-header">
            <h1>Contact Me </h1>
        </div>
    </div>
    <div class="container">
        <div class- "row">
            <div class="form-panel col-md-8">
                <form>
                    <label for="email">Name</label>
                    <input class="input" type="userName" class="form-control" placeholder="e.g. John Smith">
                    <label for="email">Email address</label>
                    <input class="input" type="email" class="form-control" placeholder="example@gmail.com">
                    <label for="message">Message</label>
                    <textarea class="input" class="form-control" rows="10"></textarea>
                    <p><a class="btn btn-primary btn-lg" href="#" role="button">Submit</a></p>
                </form>
            </div>
            <div class="form-panel col-md-4">

            </div>
        </div>
    </div>
    <footer>
        <div class="dark-bg footer">
            <div class="container">
                <div class="col-md-4">
                    <h4>This is me</h4>
                    <h1>Arnold Lei</h1>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <ul>
                    <li>About Me</li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/shrink.js"></script>
</body>

</html>
