<div class="jumbotron">
  <div class="container">
    <div class="jumbo-content">
      <h1>Arnold Lei </h1>
      <p>Web Designer, Web Developer, World Traveler, Cat lover</p>
      <p><a class="btn btn-primary btn-lg" href="#about-me" role="button">Learn more</a></p>
    </div>
  </div>
</div><!--End of Jumbotron-->
