<a class="anchor" name="about-me"></a>
<div class="container" >
<div class="section">
  <div class="section-header">
    <h1>About Me</h1>
  </div>
</div>
    <div class="row">
        <div class="content col-md-4">
            <figure>
                <img id="profile-pic" src="assets/img/profile-picture.jpg" class="img-round">
                <figcaption>This is me.</figcaption>
            </figure>
        </div>
        <div class="content col-md-8">
          <h2>Who Am I?</h2>
          <p>Hi! My name is Arnold Lei. I am a cat lover, web developer, web designer, world traveler, podcast addict, swing dancer and much more. I am always looking to learn new things and improve myself. I thrive on the feeling of not being able to do something and working at it, practicing and getting better until finally you have mastered it. I approach each new task like a challenge, a game that I may not be able to beat now, but I will master it in time with hard work.</p>
            <div class="quote pull-right">
                <h2 class="pull-quote"><span>I am always looking to </span>learn new things<span> and </span>improve myself</h2>
            </div>

          <p>Currently I am juggling a lot of things in my life. I work full time as a project manager. I teach swing dancing in my local community 2 times a week. I work out (trying to crush those PR's). And I'm taking Rutgers Coding Bootcamp. I don't think I've been more busy in my life, but I'm doing things I love and I can't wait for the week to start. I think, now more than ever, I'm working towards building a better me in all aspects and that excites me.</p>

          <div class="quote pull-left">
            <h2 class="pull-quote"><span> I'm working towards building a </span>better me <span>in all aspects and that </span>excites me.
            </h2>
        </div>
          <p>Ultimately I want to contribute to the community I live in and make positive impacts in the world with the things I do. I feel like with the skills I acquire in RCB I can start to make those changes. Whether it be working at a socially focused companies or starting my own projects I can use the skills I learn here for good. I truly believe that technology can be used to help those in need and bring awareness to those that need attention.</p>
          <p>Follow me on my journey as I take my steps into this crazy developer world. I look forward to sharing all the trials and triumphs. I'm always looking for new friends, and new people to collaborate with. I am highly motiviated and open to try new things so hit me up!</p>
        </div>
</div>
